:root {
    font-family: Arial, Helvetica, sans-serif;
}

.card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.card-container__card {
    background: red;
    border-radius: 4px;
    padding: 25px;
    cursor: pointer;
}