:root {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.card-container__card {
    background: red;
    border-radius: 4px;
    padding: 25px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}